#Habilidades {
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(21, 28, 31) 0.3%, rgb(12, 14, 21) 90.2% );    
    height: 700px;
    margin: -8px;
    border: 1px solid transparent;
    padding: 0;     
    transition: ease-in-out .5s;

}

#Habilidades h1 { 
    text-align:     center;
    padding-bottom: 50px;
    font-family: "Prompt-Regular";
    font-size: 50px;
    color: white;
    margin-top: 4%;
}

#container-habilidades{
    align-items: center;
    width: 80%;
    height: 500px;
    margin-left: 10%;
    margin-top: -4%;
    transition: ease-in-out .5s;
}

#container-habilidades h2{
    text-align: center;
    color: crimson;
    font-family: 'Reem-Regular';
    font-size: 30px;
}

.card-habilidades{
    width: 250px;
    height: 200px;
    border: 1px solid #1fabf1;
    transition: ease .7s ;
    position: absolute;
    cursor: pointer;
    border-radius: 20px;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(29, 38, 43) 0.3%, rgb(30, 34, 51) 90.2% );    
}

.card-habilidades:hover{
    height: 320px;
    box-shadow: 0 0 2px rgba(0,155,255,0.5),
                0 0 10px rgba(0,155,255,0.5),
                0 0 10px rgba(0,155,255,0.5),
                0 0 10px rgba(0,155,255,0.5),
                0 0 10px rgba(0,155,255,0.5);
}



#Habilidades .card-habilidades h1{
    font-size: 25px;
    color: #1fabf1;
}

svg {
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: -3%;
    margin-top: -50%;
    transition: all ease-in-out 0.5;
    z-index: 2;
}

circle {
    width: 200px;
    height: 200px;
    fill: none;
    stroke: black;
    stroke-width: 7;
    transform: translate(5px, 5px);
    stroke-dasharray: 753;
    stroke-dashoffset: 753;
    transition: all ease-in-out 0.5;
}

circle:nth-child(1) {
    stroke-dashoffset: 110;
    stroke: rgb(43, 43, 43);
}

circle:nth-child(2) {
    transition:  stroke-dashoffset 1.5s;
    stroke: rgb(128, 255, 0);
}

.imgCircle{
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-left: 28.5%;
    margin-top: -50%;
    background-image: url(../img/html.png);
    background-size: cover;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover circle:nth-child(2) {
    stroke-dashoffset: 560;
}



.card-habilidades:hover .imgCircle{
    filter: grayscale(0);
}

.card-habilidades p{
    font-size: 18px;
    margin-top: -30%;
    visibility: hidden;
    transition: ease .5s ;
}

.card-habilidades:hover p{
    margin-top: 7%;
    visibility: visible;
}


/* CARD DE CSS */

.card-habilidades:nth-child(3){
    margin-left: 30%;
    margin-top: 0;
    position: absolute;
}

.imgCircle2 {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-left: 28.5%;
    margin-top: -50%;
    background-image: url(../img/css3.png);
    background-size: cover;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover #circleCSS3  {
    stroke-dashoffset: 530;
}

.card-habilidades:hover .imgCircle2{
    filter: grayscale(0);
}

/* CARD DE JAVASCRIPT */

.card-habilidades:nth-child(4){
    margin-left: 59%;
    margin-top: 0;
    position: absolute;
}

.imgCircle3 {
    width: 110px;
    height: 110px;
    border-radius: 100%;
    margin-left: 28.5%;
    margin-top: -50%;
    background-image: url(../img/JavaScript.png);
    background-size: contain;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover .imgCircle3{
    filter: grayscale(0);
}

#VerMais {
    margin-left: 45%;
    margin-top: -3%;
    position: absolute;
    border-radius: 30px;
    height: 40px;
    width: 150px;
    font-size: 18px;
    cursor: pointer;
}

.card-habilidades:hover #circleJS  {
    stroke-dashoffset: 600;
}


/* CARD DE REACT */


#card-react{
    margin-top: 30%;
    display: none;
}

.imgCircle4 {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin-left: 30%;
    margin-top: -47%;
    background-image: url(../img/react.png);
    background-size: contain;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover .imgCircle4{
    filter: grayscale(0);
}

.card-habilidades:hover #circleReact  {
    stroke-dashoffset: 650;
}


/* CARD DE GIT/GIT-HUB */



#card-git{
    margin-top: 30%;
    margin-left: 30%;
    display: none;
}

.imgCircle5 {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin-left: 30%;
    margin-top: -48%;
    background-image: url(../img/git.png);
    background-size: contain;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover .imgCircle5{
    filter: grayscale(0);
}

.card-habilidades:hover #circleGIT  {
    stroke-dashoffset: 670;
}


/* CARD DE API */


#card-api{
    margin-top: 30%;
    margin-left: 59%;
    display: none;
}

#card-api:hover {
    height: 350px;
}

.imgCircle6 {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    margin-left: 30%;
    margin-top: -48%;
    background-image: url(../img/api.png);
    background-size: contain;
    border: 2px solid transparent;
    background-repeat: no-repeat;
    filter: grayscale(1);
    transition: ease .5s;
    z-index: 1;
}

.card-habilidades:hover .imgCircle6{
    filter: grayscale(0);
}

.card-habilidades:hover #circleAPI  {
    stroke-dashoffset: 710
}

@media only screen and (min-width: 381px) and (max-width:500px) {
    #Habilidades { 
        height: 1700px;
    }

    

    #container-habilidades {
        margin-top: 10%;

    }

    #container-habilidades h2{
        text-align: center;
        color: crimson;
        font-family: 'Reem-Regular';
        font-size: 25px;
        width: 110%;
        
    }

    #HTML {
        margin-left: 10%;  
    }


    #CSS{
        margin-left: 10%;
        margin-top: 90%;
        position: absolute;
        display: inline-block;
    }

    #JavaScript {
        
            margin-left: 10%;
            margin-top: 180%;
            position: absolute;
        
    }

    #card-react{
        margin-top: 270%;
        margin-left: 10%;
        display: none;
        position: absolute;
    }

    #card-git{
        margin-top: 360%;
        margin-left: 10%;
        display: none;
    }
    
    #card-api{
        margin-top: 450%;
        margin-left: 10%;
        display: none;
    }

    #VerMais{
        margin-left: 33%;
        margin-top: 170%;
        position: absolute;
        
    }
}


/* IPHONE 6/7 SE */



@media only screen and (min-width: 370px) and (max-width:380px) {

    #Habilidades { 
        height: 1700px;
    }

   

    #container-habilidades h2{
        text-align: center;
        color: crimson;
        font-family: 'Reem-Regular';
        font-size: 25px;
    }


    #HTML {
        margin-left: 7%;  
    }


    #CSS{
        margin-left: 7%;
        margin-top: 90%;
        position: absolute;
        display: inline-block;
    }

    #JavaScript {
        
            margin-left: 7%;
            margin-top: 180%;
            position: absolute;
        
    }

    #card-react{
        margin-top: 270%;
        margin-left: 7%;
        display: none;
    }

    #card-git{
        margin-top: 360%;
        margin-left: 7%;
        display: none;
    }
    
    #card-api{
        margin-top: 450%;
        margin-left: 7%;
        display: none;
    }

    #VerMais{
        margin-left: 33%;
        margin-top: 170%;
        position: absolute;
        
    }
}    


@media only screen and (min-width: 358px) and (max-width:369px) {
    #Habilidades { 
        height: 1700px;
    }

   

    #container-habilidades h2{
        text-align: center;
        color: crimson;
        font-family: 'Reem-Regular';
        font-size: 25px;
    }


    #HTML {
        margin-left: 7%;  
    }


    #CSS{
        margin-left: 7%;
        margin-top: 90%;
        position: absolute;
        display: inline-block;
    }

    #JavaScript {
        
            margin-left: 7%;
            margin-top: 180%;
            position: absolute;
        
    }

    #card-react{
        margin-top: 270%;
        margin-left: 7%;
        display: none;
    }

    #card-git{
        margin-top: 360%;
        margin-left: 7%;
        display: none;
    }
    
    #card-api{
        margin-top: 450%;
        margin-left: 7%;
        display: none;
    }

    #VerMais{
        margin-left: 33%;
        margin-top: 170%;
        position: absolute;
        
    }
}