#Projetos {
    height: 700px;
    background-image: radial-gradient( circle farthest-corner at -4% -12.9%,  rgb(36, 48, 53) 0.3%, rgb(30, 35, 53) 90.2% );    
    background-size: contain;
    background-repeat: no-repeat;
    border: 1px solid transparent;
    padding: 0;
    margin: -9px;
    margin-left: -10px;
}

#Projetos h1 {
    color: white;
    text-align: center;
    font-family: "Prompt-Regular";
    margin-top: 4%;
    font-size: 50px;
}

input[type=radio] {
    display: none;
}

.imgProjeto{
    width: 100%;
    height: 100%;
    border-radius: 15px;
    background-size: cover;
}




.card {
    position: absolute;
    width: 500px;
    height: 300px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform .4s ease;
    cursor: pointer;
}

.containerProjetos{
    width: 100%;
    display: flex;
    transform-style: preserve-3d;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cards {
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 20px;
}



#song-1 a{
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 26px;
    text-align: center;
    margin-left: 28%;
}

p{
    text-align: center;
    font-family: 'Prompt-Regular';
    font-size: 20px;
    color: white;
}

#song-2 a{
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 26px;
    text-align: center;
    margin-left: 36%;
}

#song-3 a{
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 26px;
    text-align: center;
    margin-left: 23%;
}

#song-2 a:hover {
    color: white;
}

#song-2 a::before {
    background-color: transparent;
}

#song-1 a:hover {
    color: white;
}

#song-1 a::before {
    background-color: transparent;
}

#song-3 a:hover {
    color: white;
}

#song-3 a::before {
    background-color: transparent;
}



#projeto-1:checked ~.cards #song-3,
#projeto-2:checked ~.cards #song-1,
#projeto-3:checked ~.cards #song-2{
    transform: translateX(-60% ) scale(0.8);
    opacity: 0.2;
    z-index: 0;
}



#projeto-1:checked ~.cards #song-2,
#projeto-2:checked ~.cards #song-3,
#projeto-3:checked ~.cards #song-1 {
    transform: translateX(60% ) scale(0.8);
    opacity: 0.2;
    z-index: 0;
}

#projeto-1:checked ~.cards #song-1,
#projeto-2:checked ~.cards #song-2,
#projeto-3:checked ~.cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}


#projeto-1:checked ~.cards #song-1 img,
#projeto-2:checked ~.cards #song-2 img,
#projeto-3:checked ~.cards #song-3 img {
    box-shadow: 0px 0px 25px 0px rgba(81,81,81,0.47);
}


@media only screen and (min-width: 350px) and (max-width:500px) {
    
    
    #Projetos{
        height:600px;
    }

    #Projetos h1 {
        margin-top: 17%;
    }
    .containerProjetos{
        margin-top: 15%;
    }
    
    .card {
        position: absolute;
        width: 225px;
        height: 125px;
        left: 0;
        right: 0;
        margin: auto;
        cursor: pointer;
        transition: transform .4s ease;
        cursor: default;
    }
    

    .card p{
        font-size: 13px;
    }


    #projeto-1:checked ~.cards #song-3,
    #projeto-2:checked ~.cards #song-1,
    #projeto-3:checked ~.cards #song-2 {
    transform: translateX(-40% ) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

    #projeto-1:checked ~.cards #song-2,
    #projeto-2:checked ~.cards #song-3,
    #projeto-3:checked ~.cards #song-1 {
    transform: translateX(40% ) scale(0.8);
    opacity: 0.4;
    z-index: 0;
}

    #projeto-1:checked ~.cards #song-1,
    #projeto-2:checked ~.cards #song-2,
    #projeto-3:checked ~.cards #song-3 {
    transform: translateX(0) scale(1);
    opacity: 1;
    z-index: 1;
}


    #projeto-1:checked ~.cards #song-1 img,
    #projeto-2:checked ~.cards #song-2 img,
    #projeto-3:checked ~.cards #song-3 img {
    box-shadow: 0px 0px 25px 0px rgba(81,81,81,0.47);
}

    #song-1 a{
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 16px;
    margin-left: 18%;
}

    #song-2 a{ 
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 16px;
    margin-left: 32%;  
}

#song-3 a{ 
    transition: ease-in-out.5s;
    font-family: 'Reem-Regular';
    color: #0fafff ;
    font-size: 16px;
    margin-left: 12%;  
}



}